html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
  transition: color 0.2s ease-out;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 90%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

button,
input[type="checkbox"] {
	outline: none;

}

.hidden {
	display: none;
}

button#select-random-table  {
    position: absolute;
    top: -15px;
    padding: 0px;
    width: 300px;
    height: 90px;
    background: url('images/pinball.png') no-repeat center center;
    background-size: 100% 100%;

}

button#select-random-table:hover {
    background: url('images/pinball-selected.png') no-repeat center center;
    background-size: 100% 100%;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

button#select-random-table:active {
    background: url('images/pinball-pressed.png') no-repeat center center;
    background-size: 100% 100%;
}

button#set-admin {
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 0;
	font-size: 16px;
	font-family: inherit;

}

#tableapp {
	background: #f5f5f5;
	margin: 30px 0 40px 0;
	position: relative;

}

#tableapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#tableapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#tableapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#new-table,
.edit {
    background: #fff;
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#new-table {
	padding: 16px 16px 16px 60px;
	width: 90%;
	border: none;
	background: #fff;;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#main {
	position: relative;
	z-index: 2;

}

#table-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#table-list li {
    z-index: -1;
    float: left;
    padding: 0px;
    margin: 6px;
    min-width: 150px;
    max-width: 150px;
    min-height: 100px;
	position: relative;
	font-size: 24px;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
    background: url('') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	0 25px 50px 0 rgba(0, 0, 0, 0.1);
}



#table-list li.editing {
	border-bottom: none;
	padding: 0;
}

#table-list li.editing .edit {
	display: block;
	width: 80px;
	padding: 5px 5px 17px 5px;
	margin: 27px 0 0 40px;
}

#table-list li.editing .view {
	display: none;
}

#table-list li .toggle {
	text-align: center;
	min-width: 150px;
    max-width: 150px;
    min-height: 100px;
	/*width: 40px;*/
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

/*#table-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-10 -18 100 135"><circle cx="100" cy="100" r="100" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

#table-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="white" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}*/

#table-list li label {
	white-space: pre-line;
	word-break: break-all;
	padding: 37px 15px 15px 15px;
	margin-left: 30px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

#table-list li.completed label {

	color: #d9d9d9;
	text-decoration: line-through;
}

#table-list li.completed {
    opacity: 0.3;
    z-index: -1;
	background: black;
}

#table-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: -5px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 30px;
	transition: color 0.2s ease-out;
}

#table-list li .destroy:hover {
	color: #af5b5e;
}

#table-list li .destroy:after {
	content: '×';
}

#table-list li:hover .destroy {
	display: block;
}

#table-list li .edit {
	display: none;
}

#table-list li.editing:last-child {
	margin-bottom: -1px;
}


/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#table-list li .toggle {
		background: none;
	}

	#table-list li .toggle {
		height: 40px;
	}

	#toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	#footer {
		height: 50px;
	}

	#filters {
		bottom: 10px;
	}
}

/* The Modal (background) */
div#modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
div#modal-content {
    background-color: #fefefe;
    text-align: center;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 36px;
    font-family: inherit;
    font-weight: inherit;
   	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4),
  	0 25px 50px 0 rgba(0, 0, 0, 0.3);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
span#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span#close:hover,
span#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img#u {
	margin: 1px;
    width: 64px;
    height: 64px;

    -webkit-animation: spin 2s linear;
}

img#m{
    margin: 1px;
    width: 64px;
    height: 64px;
    -webkit-animation: spinback 2s linear;
}

div#logo{
    margin: auto;
    align: center;
    padding: 0px 0px 10px 0px;
	/*background: url('images/pinball.png') no-repeat;
	background-size: 100% 100%;*/
}

img#u:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation:'';
  -moz-animation:none;
  -ms-animation:'';
  -o-animation:'';
  animation:'';
}

img#m:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation:'';
  -moz-animation:none;
  -ms-animation:'';
  -o-animation:'';
  animation:'';
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spinback {
    0%  {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(0deg);}
}